// Space variable, used here: space/_space.scss
$fw-space: 20px;

// Used by the default site container
$fw-container-size: 1366px;

// Layout Break Points
$fw-desktop-breakpoints: (
  desktop : 1366px
);
$fw-responsive-breakpoints: (
  desktopsmall: 1366px,
  tablet: 1024px,
  phone : 600px
);

// Default site color variables
$sitecolor-black: #000;
$sitecolor-white: #fff;
$sitecolor-lightgrey: #eee;
$sitecolor-primary: #803f98;

// Default site font variables
$sitefont-header: "Montserrat";
$sitefont-text: "Roboto";

/* Depreciated Variables - These will be removed in a future version */
$spacing: $fw-space; // Replaced by $fw-space
$container-size: $fw-container-size; // Replaced by $fw-container-size
