// Space variable, used here: space/_space.scss
$fw-space: 20px !default;

// Used by the default site container
$fw-container-size: 1366px !default;

// Layout Break Points
$fw-desktop-breakpoints: (
  desktop : 1366px
) !default;
$fw-responsive-breakpoints: (
  desktopsmall: 1366px,
  tablet: 1024px,
  phone : 600px
) !default;

// Default site color variables
$sitecolor-black: #000 !default;
$sitecolor-white: #fff !default;
$sitecolor-lightgrey: #eee !default;
$sitecolor-primary: #803f98 !default;

// Default site font variables
$sitefont-header: "Montserrat" !default;
$sitefont-text: "Roboto" !default;

/* Depreciated Variables - These will be removed in a future version */
$spacing: $fw-space; // Replaced by $fw-space
$container-size: $fw-container-size; // Replaced by $fw-container-size
