.form-modern{
  .checkboxset li, .checkboxset div,
  .field.checkbox{
    position: relative;
    input{
      -moz-appearance: initial; // Enables pseudo elements in FireFox
      min-width: 13px; // Does not inherit width in Firefox. Used for spacing
      &::before{
        font-family: $formmodern-icon-family;
        content: $formmodern-checkbox-icon-not-checked;
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2em;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: all .2s;
        transition: all .2s;
        color: $formmodern-checkbox-icon-not-checked-color; // Background color of the checkbox
        background: $formmodern-checkbox-icon-background; // Color behind the box, as well as the Check Mark
      }
      &:checked::before{
        content: $formmodern-checkbox-icon-checked;
        color: $formmodern-checkbox-icon-checked-color; // Background color of the checkbox
      }
      + label{
        display: inline-flex;
        align-items: center;
        margin: 10px 0;
        padding-left: 20px;
        line-height: 1;
        cursor: pointer;
        + .message.error{
          width: 100%;
        }
      }
    }
  }
}
