@use "../../../variables/theme";
@use  "../typography";
@use  "../mixins/font-size-mixin";

// Default h1 Properties
$default-element-h1-properties: (
    color: theme.getThemeProperty(HeadingColor, typography.$component-typography-properties),
    fontFamily: theme.getThemeProperty(fontHeader),
    fontWeight: 700,
    fontSizes: (
        desktop: (2.5em, theme.getThemeProperty(HeadingLineHeight, typography.$component-typography-properties)),
        tablet: (2.5em, theme.getThemeProperty(HeadingLineHeight, typography.$component-typography-properties)),
        phone: (2.5em, theme.getThemeProperty(HeadingLineHeight, typography.$component-typography-properties))
    ),
    margin: theme.getThemeProperty(HeadingMargin, typography.$component-typography-properties),
    textTransform: theme.getThemeProperty(HeadingTextTransform, typography.$component-typography-properties),
    letterSpacing: theme.getThemeProperty(HeadingLetterSpacing, typography.$component-typography-properties)
);
// If $element-h1-properties is set, lets merge into our defaults
$element-h1-properties: $default-element-h1-properties !default;
@if ($element-h1-properties) {
  $element-h1-properties: theme.recursive-map-merge($default-element-h1-properties, $element-h1-properties);
}

h1,
.fw-heading-1{
  color: theme.getThemeProperty(color, $element-h1-properties);
  font-family: theme.getThemeProperty(fontFamily, $element-h1-properties);
  font-weight: theme.getThemeProperty(fontWeight, $element-h1-properties);
  text-transform: theme.getThemeProperty(textTransform, $element-h1-properties);
  letter-spacing: theme.getThemeProperty(letterSpacing, $element-h1-properties);
  @include font-size-mixin.font-size(theme.getThemeProperty(fontSizes, $element-h1-properties));
}

.fw-typography-spacing {
  h1 {
    margin: theme.getThemeProperty(margin, $element-h1-properties);
  }
}
