// Default h1 Properties
$default-element-h1-properties:(
    color: getThemeProperty(textColorDark),
    fontFamily: getThemeProperty(fontHeader),
    fontWeight: 700,
    fontSizes: (
        desktop: (2.5em, 1),
        tablet: (2.5em, 1),
        phone: (2.5em, 1)
    )
);
// If $element-h1-properties is set, lets merge into our defaults
$element-h1-properties: $default-element-h1-properties !default;
@if($element-h1-properties){
  $element-h1-properties: recursive-map-merge($default-element-h1-properties, $element-h1-properties);
}

h1{
  color: getThemeProperty(color, $element-h1-properties);
  font-family: getThemeProperty(fontFamily, $element-h1-properties);
  font-weight: getThemeProperty(fontWeight, $element-h1-properties);
  @include font-size(getThemeProperty(fontSizes, $element-h1-properties));
}