@use "../../../variables/theme";
@use  "../typography";

// Default h4 Properties
$default-element-h4-properties: (
    color: theme.getThemeProperty(HeadingColor, $component-typography-properties),
    fontFamily: theme.getThemeProperty(fontHeader),
    fontWeight: 400,
    fontSizes: (
        desktop: (1.313em, theme.getThemeProperty(HeadingLineHeight, $component-typography-properties)),
        tablet: (1.313em, theme.getThemeProperty(HeadingLineHeight, $component-typography-properties)),
        phone: (1.313em, theme.getThemeProperty(HeadingLineHeight, $component-typography-properties))
    ),
    margin: theme.getThemeProperty(HeadingMargin, $component-typography-properties),
    textTransform: theme.getThemeProperty(HeadingTextTransform, $component-typography-properties),
    letterSpacing: theme.getThemeProperty(HeadingLetterSpacing, $component-typography-properties)
);
// If $element-h4-properties is set, lets merge into our defaults
$element-h4-properties: $default-element-h4-properties !default;
@if ($element-h4-properties) {
  $element-h4-properties: recursive-map-merge($default-element-h4-properties, $element-h4-properties);
}

h4,
.fw-heading-4 {
  color: theme.getThemeProperty(color, $element-h4-properties);
  font-family: theme.getThemeProperty(fontFamily, $element-h4-properties);
  font-weight: theme.getThemeProperty(fontWeight, $element-h4-properties);
  text-transform: theme.getThemeProperty(textTransform, $element-h4-properties);
  letter-spacing: theme.getThemeProperty(letterSpacing, $element-h4-properties);
  @include font-size(theme.getThemeProperty(fontSizes, $element-h4-properties));
}

.fw-typography-spacing {
  h4 {
    margin: theme.getThemeProperty(margin, $element-h4-properties);
  }
}
