@use "sass:math";

@use "../../../variables/theme";
@use  "../defaults/typography";
@use  "../mixins/font-size-mixin";

// Default p Properties
$default-element-p-properties: (
    color: theme.getThemeProperty(TextColor, typography.$component-typography-properties),
    fontFamily: theme.getThemeProperty(fontText),
    fontWeight: 400,
    fontSizes: (
        desktop: (1em, theme.getThemeProperty(TextLineHeight, typography.$component-typography-properties)),
        tablet: (1em, theme.getThemeProperty(TextLineHeight, typography.$component-typography-properties)),
        phone: (1em, theme.getThemeProperty(TextLineHeight, typography.$component-typography-properties))
    ),
    margin: 0 0 math.div(theme.getThemeProperty(layoutSpace), 2) 0,
    textTransform: theme.getThemeProperty(TextTextTransform, typography.$component-typography-properties),
    letterSpacing: theme.getThemeProperty(TextLetterSpacing, typography.$component-typography-properties)
);
// If $element-p-properties is set, lets merge into our defaults
$element-p-properties: $default-element-p-properties !default;
@if ($element-p-properties) {
  $element-p-properties: theme.recursive-map-merge($default-element-p-properties, $element-p-properties);
}

p,
.fw-p {
  color: theme.getThemeProperty(color, $element-p-properties);
  font-family: theme.getThemeProperty(fontFamily, $element-p-properties);
  font-weight: theme.getThemeProperty(fontWeight, $element-p-properties);
  text-transform: theme.getThemeProperty(textTransform, $element-p-properties);
  letter-spacing: theme.getThemeProperty(letterSpacing, $element-p-properties);
  @include font-size-mixin.font-size(theme.getThemeProperty(fontSizes, $element-p-properties));
}

.fw-typography-spacing {
  p {
    margin: theme.getThemeProperty(margin, $element-p-properties);
  }
}
