@use "../../../variables/theme";
@use  "../typography";
@use  "../mixins/font-size-mixin";

// Default ul Properties
$default-element-ul-properties: (
    listStyle: disc outside,
    color: theme.getThemeProperty(TextColor, typography.$component-typography-properties),
    fontFamily: theme.getThemeProperty(fontText),
    fontWeight: 400,
    fontSizes: (
        desktop: (1em, theme.getThemeProperty(TextLineHeight, typography.$component-typography-properties)),
        tablet: (1em, theme.getThemeProperty(TextLineHeight, typography.$component-typography-properties)),
        phone: (1em, theme.getThemeProperty(TextLineHeight, typography.$component-typography-properties))
    ),
    margin: 0 0 theme.getThemeProperty(layoutSpace) theme.getThemeProperty(layoutSpace),
    textTransform: theme.getThemeProperty(TextTextTransform, typography.$component-typography-properties),
    letterSpacing: theme.getThemeProperty(TextLetterSpacing, typography.$component-typography-properties)
);
// If $element-ul-properties is set, lets merge into our defaults
$element-ul-properties: $default-element-ul-properties !default;
@if ($element-ul-properties) {
  $element-ul-properties: theme.recursive-map-merge($default-element-ul-properties, $element-ul-properties);
}

ul {
  list-style: theme.getThemeProperty(listStyle, $element-ul-properties);
  color: theme.getThemeProperty(color, $element-ul-properties);
  font-family: theme.getThemeProperty(fontFamily, $element-ul-properties);
  font-weight: theme.getThemeProperty(fontWeight, $element-ul-properties);
  text-transform: theme.getThemeProperty(textTransform, $element-ul-properties);
  letter-spacing: theme.getThemeProperty(letterSpacing, $element-ul-properties);
  @include font-size-mixin.font-size(theme.getThemeProperty(fontSizes, $element-ul-properties));
}

.fw-typography-spacing {
  ul {
    margin: theme.getThemeProperty(margin, $element-ul-properties);
  }
}
