// Default ul Properties
$default-element-ul-properties:(
    listStyle: var(--elementULProperties_listStyle, disc outside),
    color: var(--elementULProperties_color, getThemeProperty(TextColor, $component-typography-properties)),
    fontFamily: var(--elementULProperties_fontFamily, getThemeProperty(fontText)),
    fontWeight: var(--elementULProperties_fontWeight, 400),
    fontSizes: (
        desktop: (1em, getThemeProperty(TextLineHeight, $component-typography-properties)),
        tablet: (1em, getThemeProperty(TextLineHeight, $component-typography-properties)),
        phone: (1em, getThemeProperty(TextLineHeight, $component-typography-properties))
    ),
    margin: var(--elementULProperties_margin, 0 0 getThemeProperty(layoutSpace) getThemeProperty(layoutSpace)),
    textTransform: getThemeProperty(TextTextTransform, $component-typography-properties),
    letterSpacing: getThemeProperty(TextLetterSpacing, $component-typography-properties)
);
// If $element-ul-properties is set, lets merge into our defaults
$element-ul-properties: $default-element-ul-properties !default;
@if($element-ul-properties){
  $element-ul-properties: recursive-map-merge($default-element-ul-properties, $element-ul-properties);
}

ul{
	list-style: getThemeProperty(listStyle, $element-ul-properties);
  color: getThemeProperty(color, $element-ul-properties);
  font-family: getThemeProperty(fontFamily, $element-ul-properties);
  font-weight: getThemeProperty(fontWeight, $element-ul-properties);
  text-transform: getThemeProperty(textTransform, $element-ul-properties);
  letter-spacing: getThemeProperty(letterSpacing, $element-ul-properties);
  @include font-size(getThemeProperty(fontSizes, $element-ul-properties));
}

.fw-typography-spacing{
  ul{
    margin: getThemeProperty(margin, $element-ul-properties);
  }
}
