/*
---------------------------------------------------------------------
FLEX BOX
---------------------------------------------------------------------
Flex Container - all items should be wrapped with .flex-container
Flex Itme - all items should be tagged with the class .flex-item
*/
.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
	justify-content: flex-start;
}
.flex-item {
	align-self: flex-start;
}
.flex-image {
  width: 100%;
  height: auto;
}
.flex-half{
  width: 0.5%;
  min-height: 1px;
}
/*
---------------------------------------------------------------------
SPACING
---------------------------------------------------------------------
$spacing variable is defined in _framewerk_variables.scss
Can be overridden as well in a separate sass file if need be
*/
.space{
  padding: $spacing;
	&.noleft{
		padding-left: 0;
	}
	&.noright{
		padding-right: 0;
	}
	&.halfleft{
		padding-left: $spacing / 2;
	}
	&.halfright{
		padding-right: $spacing / 2;
	}
	&.notop{
		padding-top: 0;
	}
	&.nobottom{
		padding-bottom: 0;
	}
	&.halftop{
		padding-top: $spacing / 2;
	}
	&.halfbottom{
		padding-bottom: $spacing / 2;
	}
}
/*
---------------------------------------------------------------------
DEFAULT DESKTOP
---------------------------------------------------------------------
If no breakpoints are defined, these will be the fallback width percentages
*/
@for $i from 0 through 100 {
  .desktop-#{$i} {
    width : round(percentage($i/100));
  }
}
.flex-container.desktop-ltr{
  flex-direction: row;
}
.flex-container.desktop-rtl{
  flex-direction: row-reverse;
}
/*
---------------------------------------------------------------------
DESKTOP BREAKPOINTS
---------------------------------------------------------------------
*/
@each $label, $breakpoint in $fw-desktop-breakpoints{
  @media screen and (min-width: $breakpoint) {
    @for $i from 0 through 100 {
      .#{$label}-#{$i} {
        width : round(percentage($i/100));
      }
    }
    .flex-container.#{$label}-ltr{
      flex-direction: row;
    }
    .flex-container.#{$label}-rtl{
      flex-direction: row-reverse;
    }
    .flex-container.#{$label}-ttb{
      flex-direction: column;
    }
    .flex-container.#{$label}-btt{
      flex-direction: column-reverse;
    }
  }
}
