@media handheld, only screen and (max-width: $responsive-tablet-breakpoint) {
  /* PERCENTAGES */
  .table-hide{
    display: none;
  }
  .tablet-half{
    width: 0.5%;
  	min-height: 1px;
  }
  .tablet-five{
  	width:5%;
  }
  .tablet-ten{
  	width:10%;
  }
  .tablet-fifteen{
  	width: 15%;
  }
  .tablet-sixteen{
  	width: 16%;
  }
  .tablet-twenty{
  	width:20%;
  }
  .tablet-twenty-five {
  	width:25%;
  }
  .tablet-thirty {
  	width:30%;
  }
  .tablet-thirty-three {
  	width:33%;
  }
  .tablet-thirty-four {
  	width:34%;
  }
  .tablet-thirty-five {
  	width:35%;
  }
  .tablet-forty {
  	width:40%;
  }
  .tablet-forty-five {
  	width:45%;
  }
  .tablet-fifty {
  	width:50%;
  }
  .tablet-fifty-five {
  	width:55%;
  }
  .tablet-sixty {
  	width:60%;
  }
  .tablet-sixty-five {
  	width:65%;
  }
  .tablet-sixty-six {
  	width:66%;
  }
  .tablet-seventy {
  	width:70%;
  }
  .tablet-sixty-seven {
  	width:67%;
  }
  .tablet-seventy-five {
  	width:75%;
  }
  .tablet-eighty {
  	width:80%;
  }
  .tablet-eighty-five {
  	width:85%;
  }
  .tablet-ninety {
  	width:90%;
  }
  .tablet-ninety-five {
  	width:95%;
  }
  .tablet-full{
  	width:100%;
  }
}
@media handheld, only screen and (max-width: $responsive-phone-breakpoint) {
  .five,
	.ten,
	.fifteen,
	.sixteen,
	.twenty,
	.twenty-five,
	.thirty,
	.thirty-three,
	.thirty-four,
	.thirty-five,
	.forty,
	.forty-five,
	.fifty,
	.fifty-five,
	.sixty,
	.sixty-five,
	.sixty-six,
	.sixty-seven,
	.seventy,
	.seventy-five,
	.eighty,
	.eighty-five,
	.ninety,
	.ninety-five{
		float:left;
		width:100%;
	}
  /* PERCENTAGES */
  .phone-hide{
    display: none;
  }
  .phone-half{
    width: 0.5%;
  	min-height: 1px;
  }
  .phone-five{
  	width:5%;
  }
  .phone-ten{
  	width:10%;
  }
  .phone-fifteen{
  	width: 15%;
  }
  .phone-sixteen{
  	width: 16%;
  }
  .phone-twenty{
  	width:20%;
  }
  .phone-twenty-five {
  	width:25%;
  }
  .phone-thirty {
  	width:30%;
  }
  .phone-thirty-three {
  	width:33%;
  }
  .phone-thirty-four {
  	width:34%;
  }
  .phone-thirty-five {
  	width:35%;
  }
  .phone-forty {
  	width:40%;
  }
  .phone-forty-five {
  	width:45%;
  }
  .phone-fifty {
  	width:50%;
  }
  .phone-fifty-five {
  	width:55%;
  }
  .phone-sixty {
  	width:60%;
  }
  .phone-sixty-five {
  	width:65%;
  }
  .phone-sixty-six {
  	width:66%;
  }
  .phone-seventy {
  	width:70%;
  }
  .phone-sixty-seven {
  	width:67%;
  }
  .phone-seventy-five {
  	width:75%;
  }
  .phone-eighty {
  	width:80%;
  }
  .phone-eighty-five {
  	width:85%;
  }
  .phone-ninety {
  	width:90%;
  }
  .phone-ninety-five {
  	width:95%;
  }
  .phone-full{
  	width:100%;
  }
  /* ADJUST SPACING FOR 100% */
	.space{
	  padding: $spacing;
		&.noleft{
			padding-left: $spacing;
		}
		&.noright{
			padding-right: $spacing;
		}
		&.halfleft{
			padding-left: $spacing;
		}
		&.halfright{
			padding-right: $spacing;
		}
		&.notop{
			padding-top: $spacing;
		}
		&.nobottom{
			padding-bottom: $spacing;
		}
		&.halftop{
			padding-top: $spacing;
		}
		&.halfbottom{
			padding-bottom: $spacing;
		}
	}
}
/* NO RESPONSIVE */
.five.noresponsive{
  float:left;
  width:5%;
}
.ten.noresponsive{
  float:left;
  width:10%;
}
.fifteen.noresponsive{
  float: left;
  width: 15%;
}
.sixteen.noresponsive{
  float: left;
  width: 15%;
}
.twenty.noresponsive{
  float:left;
  width:20%;
}
.twenty-five.noresponsive{
  float:left;
  width:25%;
}
.thirty.noresponsive{
  float:left;
  width:30%;
}
.thirty-three.noresponsive{
  float:left;
  width:33%;
}
.thirty-four.noresponsive{
  float:left;
  width:34%;
}
.thirty-five.noresponsive{
  float:left;
  width:35%;
}
.forty.noresponsive{
  float:left;
  width:40%;
}
.forty-five.noresponsive{
  float:left;
  width:45%;
}
.fifty.noresponsive{
  float:left;
  width:50%;
}
.fifty-five.noresponsive{
  float:left;
  width:55%;
}
.sixty.noresponsive{
  float:left;
  width:60%;
}
.sixty-five.noresponsive{
  float:left;
  width:65%;
}
.sixty-six.noresponsive{
  float:left;
  width:66%;
}
.seventy.noresponsive{
  float:left;
  width:70%;
}
.sixty-seven.noresponsive{
  float:left;
  width:67%;
}
.seventy-five.noresponsive{
  float:left;
  width:75%;
}
.eighty.noresponsive{
  float:left;
  width:80%;
}
.eighty-five.noresponsive{
  float:left;
  width:85%;
}
.ninety.noresponsive{
  float:left;
  width:90%;
}
.ninety-five.noresponsive{
  float:left;
  width:95%;
}
.full{
  float:left;
  width:100%;
}
