
/*
---------------------------------------------------------------------
RESPONSIVE BREAKPOINTS
---------------------------------------------------------------------
Simply out puts classes with a width set from 1-100 for each
breakpoint defiend.
*/
@each $label, $breakpoint in $fw-responsive-breakpoints{
  @media handheld, only screen and (max-width: $breakpoint) {
    @for $i from 1 through 100 {
      .#{$label}-#{$i} {
        width : round(percentage($i/100));
      }
    }
    .flex-container.#{$label}-ltr{
      flex-direction: row;
    }
    .flex-container.#{$label}-rtl{
      flex-direction: row-reverse;
    }
    .flex-container.#{$label}-ttb{
      flex-direction: column;
    }
    .flex-container.#{$label}-btt{
      flex-direction: column-reverse;
    }
    .#{$label}-hide{
      display: none;
    }
  }
}
