/*
  Link
  Default link styles
*/
a{
  color: getThemeProperty(primaryColor);
  text-decoration: underline;
  &:link{
    color: getThemeProperty(primaryColor);
  }
  &:visited{
    color: getThemeProperty(primaryColor);
  }
  &:hover{
    text-decoration: none;
  }
  &:active{
    color: getThemeProperty(primaryColor);
  }
}
