/*
  Link
  Default link styles
*/
a{
  color: getThemeProperty(primaryColor);
  text-decoration: underline;
  &:link{
    color: getThemeProperty(primaryColor);
  }
  &:visited{
    color: darken(getThemeProperty(primaryColor), 10);
  }
  &:hover{
    text-decoration: none;
  }
  &:active{
    color: lighten(getThemeProperty(primaryColor), 10);
  }
  @include focus-style;
}
