// Default body Properties
$default-element-body-properties:(
    background: var(--elementBodyProperties_background, getThemeProperty(backgroundColorLight)),
    color: var(--elementBodyProperties_color, getThemeProperty(textColorDark)),
    fontFamily: var(--elementBodyProperties_fontFamily, getThemeProperty(fontHeader)),
    fontWeight: var(--elementBodyProperties_fontWeight, 400),
    fontSize: var(--elementBodyProperties_fontSize, 1rem),
    lineHeight: var(--elementBodyProperties_lineHeight, 1rem),
);
// If $element-body-properties is set, lets merge into our defaults
$element-body-properties: $default-element-body-properties !default;
@if($element-body-properties){
  $element-body-properties: map-merge($default-element-body-properties, $element-body-properties);
}

body{
  background: getThemeProperty(background, $element-body-properties);
  color: getThemeProperty(color, $element-body-properties);
  font-family: getThemeProperty(fontFamily, $element-body-properties);
  font-weight: getThemeProperty(fontWeight, $element-body-properties);
  font-size: getThemeProperty(fontSize, $element-body-properties);
  line-height: getThemeProperty(lineHeight, $element-body-properties);
}
