// Default body Properties
$default-element-body-properties:(
  // default css styles
  background: getThemeProperty(backgroundColorLight),
  color: getThemeProperty(textColorDark),
  font-family: getThemeProperty(fontHeader),
  font-weight: 400,
  font-size: 1rem,
  line-height: 1rem
);

// Deprecations will be removed in 3.0
// Please update your code to use the new property names.
// old name : new name (css equivalent property)
$deprecated-properties:(
  fontFamily: font-family,
  fontWeight: font-weight,
  fontSize: font-size,
  lineHeight: line-height,
);

// If $element-body-properties is set, lets merge into our defaults
$element-body-properties: $default-element-body-properties !default;
@if($element-body-properties){
  $element-body-properties: map-merge($default-element-body-properties, $element-body-properties);
}

body{
  // css properties - loop through each property
  @each $property, $value in $component-button-properties {
    // Test for depreciations and replace the name with updated name
    @if (map-has-key($deprecated-properties, $property)) {
      @warn "The property '#{$property}' is deprecated.";
      $value: map-get($deprecated-properties, $property);
      #{$value}: getThemeProperty(#{$property}, $component-button-properties);
    } @else if($property!="variants" and $property!="states") {
      #{$property}: getThemeProperty(#{$property}, $component-button-properties);
    }
  }
}
