@charset "UTF-8";

@use "../../variables/theme";

// Base Hamburger (We need this)
// ==================================================
@use "hamburgers/_sass/hamburgers/base";

// Hamburger types
// ==================================================
@use "hamburgers/_sass/hamburgers/types/3dx";
@use "hamburgers/_sass/hamburgers/types/3dx-r";
@use "hamburgers/_sass/hamburgers/types/3dy";
@use "hamburgers/_sass/hamburgers/types/3dy-r";
@use "hamburgers/_sass/hamburgers/types/3dxy";
@use "hamburgers/_sass/hamburgers/types/3dxy-r";
@use "hamburgers/_sass/hamburgers/types/arrow";
@use "hamburgers/_sass/hamburgers/types/arrow-r";
@use "hamburgers/_sass/hamburgers/types/arrowalt";
@use "hamburgers/_sass/hamburgers/types/arrowalt-r";
@use "hamburgers/_sass/hamburgers/types/arrowturn";
@use "hamburgers/_sass/hamburgers/types/arrowturn-r";
@use "hamburgers/_sass/hamburgers/types/boring";
@use "hamburgers/_sass/hamburgers/types/collapse";
@use "hamburgers/_sass/hamburgers/types/collapse-r";
@use "hamburgers/_sass/hamburgers/types/elastic";
@use "hamburgers/_sass/hamburgers/types/elastic-r";
@use "hamburgers/_sass/hamburgers/types/emphatic";
@use "hamburgers/_sass/hamburgers/types/emphatic-r";
@use "hamburgers/_sass/hamburgers/types/minus";
@use "hamburgers/_sass/hamburgers/types/slider";
@use "hamburgers/_sass/hamburgers/types/slider-r";
@use "hamburgers/_sass/hamburgers/types/spin";
@use "hamburgers/_sass/hamburgers/types/spin-r";
@use "hamburgers/_sass/hamburgers/types/spring";
@use "hamburgers/_sass/hamburgers/types/spring-r";
@use "hamburgers/_sass/hamburgers/types/stand";
@use "hamburgers/_sass/hamburgers/types/stand-r";
@use "hamburgers/_sass/hamburgers/types/squeeze";
@use "hamburgers/_sass/hamburgers/types/vortex";
@use "hamburgers/_sass/hamburgers/types/vortex-r";

// Default Hamburger Properties
$default-component-hamburger-properties: (
  hamburger-padding-x: 15px,
  hamburger-padding-y: 15px,
  hamburger-layer-width: 40px,
  hamburger-layer-height: 4px,
  hamburger-layer-spacing: 6px,
  hamburger-layer-color: #000000,
  hamburger-layer-border-radius: 4px,
  hamburger-hover-opacity: 0.7,
  hamburger-active-layer-color: #000000,
  hamburger-active-hover-opacity: 0.7,
);
// If $component-hamburger-properties is set, lets merge into our defaults
$component-hamburger-properties: $default-component-hamburger-properties !default;
@if ($component-hamburger-properties) {
  $component-hamburger-properties: map-merge($default-component-hamburger-properties, $component-hamburger-properties);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

// Settings
// ==================================================
$hamburger-padding-x           : theme.getThemeProperty(hamburger-padding-x, $component-hamburger-properties) !default;
$hamburger-padding-y           : theme.getThemeProperty(hamburger-padding-y, $component-hamburger-properties) !default;
$hamburger-layer-width         : theme.getThemeProperty(hamburger-layer-width, $component-hamburger-properties) !default;
$hamburger-layer-height        : theme.getThemeProperty(hamburger-layer-height, $component-hamburger-properties) !default;
$hamburger-layer-spacing       : theme.getThemeProperty(hamburger-layer-spacing , $component-hamburger-properties) !default;
$hamburger-layer-color         : theme.getThemeProperty(hamburger-layer-color , $component-hamburger-properties) !default;
$hamburger-layer-border-radius : theme.getThemeProperty(hamburger-layer-border-radius, $component-hamburger-properties) !default;
$hamburger-hover-opacity       : theme.getThemeProperty(hamburger-hover-opacity, $component-hamburger-properties) !default;
$hamburger-active-layer-color  : theme.getThemeProperty(hamburger-active-layer-color, $component-hamburger-properties) !default;
$hamburger-active-hover-opacity: theme.getThemeProperty(hamburger-active-hover-opacity, $component-hamburger-properties) !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
  3dx,
  3dx-r,
  3dy,
  3dy-r,
  3dxy,
  3dxy-r,
  arrow,
  arrow-r,
  arrowalt,
  arrowalt-r,
  arrowturn,
  arrowturn-r,
  boring,
  collapse,
  collapse-r,
  elastic,
  elastic-r,
  emphatic,
  emphatic-r,
  minus,
  slider,
  slider-r,
  spin,
  spin-r,
  spring,
  spring-r,
  stand,
  stand-r,
  squeeze,
  vortex,
  vortex-r
) !default;

