@charset "UTF-8";

@use 'hamburger-theme';

// Base Hamburger (We need this)
// ==================================================
@use "hamburgers/_sass/hamburgers/base" with (
  $hamburger-padding-x           : hamburger-theme.$component-hamburger-properties,
  $hamburger-padding-y           : hamburger-theme.$component-hamburger-properties,
  $hamburger-layer-width         : hamburger-theme.$component-hamburger-properties,
  $hamburger-layer-height        : hamburger-theme.$component-hamburger-properties,
  $hamburger-layer-spacing       : hamburger-theme.$component-hamburger-properties,
  $hamburger-layer-color         : hamburger-theme.$component-hamburger-properties,
  $hamburger-layer-border-radius : hamburger-theme.$component-hamburger-properties,
  $hamburger-hover-opacity       : hamburger-theme.$component-hamburger-properties,
  $hamburger-active-layer-color  : hamburger-theme.$component-hamburger-properties,
  $hamburger-active-hover-opacity: hamburger-theme.$component-hamburger-properties,
);

// Hamburger types
// ==================================================
@use "hamburgers/_sass/hamburgers/types/3dx" as three-dx;
@use "hamburgers/_sass/hamburgers/types/3dx-r" as three-dx-r;
@use "hamburgers/_sass/hamburgers/types/3dy" as three-dy;
@use "hamburgers/_sass/hamburgers/types/3dy-r" as three-dy-r;
@use "hamburgers/_sass/hamburgers/types/3dxy" as three-dxy;
@use "hamburgers/_sass/hamburgers/types/3dxy-r" as three-dxy-r;
@use "hamburgers/_sass/hamburgers/types/arrow";
@use "hamburgers/_sass/hamburgers/types/arrow-r";
@use "hamburgers/_sass/hamburgers/types/arrowalt";
@use "hamburgers/_sass/hamburgers/types/arrowalt-r";
@use "hamburgers/_sass/hamburgers/types/arrowturn";
@use "hamburgers/_sass/hamburgers/types/arrowturn-r";
@use "hamburgers/_sass/hamburgers/types/boring";
@use "hamburgers/_sass/hamburgers/types/collapse";
@use "hamburgers/_sass/hamburgers/types/collapse-r";
@use "hamburgers/_sass/hamburgers/types/elastic";
@use "hamburgers/_sass/hamburgers/types/elastic-r";
@use "hamburgers/_sass/hamburgers/types/emphatic";
@use "hamburgers/_sass/hamburgers/types/emphatic-r";
@use "hamburgers/_sass/hamburgers/types/minus";
@use "hamburgers/_sass/hamburgers/types/slider";
@use "hamburgers/_sass/hamburgers/types/slider-r";
@use "hamburgers/_sass/hamburgers/types/spin";
@use "hamburgers/_sass/hamburgers/types/spin-r";
@use "hamburgers/_sass/hamburgers/types/spring";
@use "hamburgers/_sass/hamburgers/types/spring-r";
@use "hamburgers/_sass/hamburgers/types/stand";
@use "hamburgers/_sass/hamburgers/types/stand-r";
@use "hamburgers/_sass/hamburgers/types/squeeze";
@use "hamburgers/_sass/hamburgers/types/vortex";
@use "hamburgers/_sass/hamburgers/types/vortex-r";

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types: (
  3dx,
  3dx-r,
  3dy,
  3dy-r,
  3dxy,
  3dxy-r,
  arrow,
  arrow-r,
  arrowalt,
  arrowalt-r,
  arrowturn,
  arrowturn-r,
  boring,
  collapse,
  collapse-r,
  elastic,
  elastic-r,
  emphatic,
  emphatic-r,
  minus,
  slider,
  slider-r,
  spin,
  spin-r,
  spring,
  spring-r,
  stand,
  stand-r,
  squeeze,
  vortex,
  vortex-r
) !default;

