/*
  Ordered & Un-ordered Column List
*/
ul,
ol{
  &.two-column-list{
    columns: 2;
    column-gap: 40px;
  }
  &.three-column-list{
    columns: 3;
    column-gap: 40px;
  }
  &.four-column-list{
    columns: 4;
    column-gap: 40px;
  }
  &.five-column-list{
    columns: 5;
    column-gap: 40px;
  }
}
ol{
  li{
    margin-bottom: 20px;
    &::marker{
      font-weight: 700;
      line-height: 1;
      font-size: 1.2em;
    }
  }
}
@media handheld, only screen and (max-width: map-get($fw-responsive-breakpoints, phone)) {
  ul,
  ol{
    &.two-column-list,
    &.three-column-list,
    &.four-column-list,
    &.five-column-list{
      columns: 1;
    }
  }
}
