// Default form checkbox Properties
$default-component-typography-properties:(
    "HeadingColor": getThemeProperty(textColorDark),
    "HeadingMargin": 0 0 calc(getThemeProperty(layoutSpace) / 2) 0
);
// If $component-form-checkbox-properties is set, lets merge into our defaults
$component-typography-properties: $default-component-typography-properties !default;
@if($component-typography-properties){
  $component-typography-properties: map-merge($default-component-typography-properties, $component-typography-properties);
}

// Mixins
@import 'mixins/font-size-mixin';

// Elements
@import 'elements/h1';
@import 'elements/h2';
@import 'elements/h3';
@import 'elements/h4';
@import 'elements/h5';
@import 'elements/h6';
@import 'elements/p';
@import 'elements/ul';
@import 'elements/ol';

// Defaults
@import 'defaults/text';