// Default table Properties
$default-element-table-properties:(
  tableRowColor: #ffffff,
  tableRowEvenColor: #ffffff,
  tableRowOddColor: #f3f3f5
);
// If $element-table-properties is set, lets merge into our defaults
$element-table-properties: $default-element-table-properties !default;
@if($element-table-properties){
  $element-table-properties: map-merge($default-element-table-properties, $element-table-properties);
}

table{
  width: 100%;
  th,
  td{
    padding: 10px;
  }
  thead{
    position: sticky;
    top: 0;
    tr{
      table-layout: fixed;
      width: 100%;
      background: getThemeProperty(tableRowColor, $element-table-properties);
    }
    th{
      font-weight: 700;
      text-align: left;
      padding: 10px 15px;
      font-weight: 700;
      font-size: 1.25em;
      line-height: 1em;
    }
  }
  tbody{
    table-layout: fixed;
    tr{
      background: getThemeProperty(tableRowColor, $element-table-properties);
      &:nth-child(even){
        background: getThemeProperty(tableRowEvenColor, $element-table-properties);
        border-radius: 3px;
      }
      &:nth-child(odd){
        background: getThemeProperty(tableRowOddColor, $element-table-properties);
        border-radius: 3px;
      }
    }
    td{
      padding: 10px 15px;
    }
  }
  tfoot{
    font-size: 0.8em;
    line-height: 1em;
    td{
    }
  }
}
@media handheld, only screen and (max-width: map-get(getThemeProperty(breakpointResponsive), tablet)) {
}
@media handheld, only screen and (max-width: map-get(getThemeProperty(breakpointResponsive), phone)) {
  table{
    font-size: 0.8em;
    th,
    td{
      padding: 5px;
    }
  }
}
