@use "../../../variables/theme";
@use "../../../elements/body/body";
@use "../../../elements/focus/focus";
@use  "../defaults/form";

// Default form checkbox Properties
$default-component-form-checkbox-properties: (
  backgroundColor: theme.getThemeProperty(backgroundColorLight),
  checkedIcon: "\f14a",
  checkedTextColor: theme.getThemeProperty(textColorDark),
  notCheckedIcon: "\f0c8",
  notCheckedTextColor: theme.getThemeProperty(textColorDark),
  iconFontFamily: theme.getThemeProperty(fontIcon),
  fontWeight: theme.getThemeProperty(fontWeight, body.$element-body-properties),
);
// If $component-form-checkbox-properties is set, lets merge into our defaults
$component-form-checkbox-properties: $default-component-form-checkbox-properties !default;
@if ($component-form-checkbox-properties) {
  $component-form-checkbox-properties: map-merge($default-component-form-checkbox-properties, $component-form-checkbox-properties);
}

.fw-form {
  .checkboxset li,
  .checkboxset div,
  .field.checkbox {
    position: relative;
    input {
      -moz-appearance: initial; // Enables pseudo elements in FireFox
      min-width: 13px; // Does not inherit width in Firefox. Used for spacing
      width: initial;
      border: none;
      &::before {
        font-family: theme.getThemeProperty(iconFontFamily, $component-form-checkbox-properties);
        content: theme.getThemeProperty(notCheckedIcon, $component-form-checkbox-properties);
        font-weight: theme.getThemeProperty(fontWeight, $component-form-checkbox-properties);
        position: absolute;
        top: 4px;
        left: 2px;
        font-size: 2em;
        line-height: 0.8;
        cursor: pointer;
        -webkit-transition: all .2s;
        transition: all .2s;
        color: theme.getThemeProperty(notCheckedTextColor, $component-form-checkbox-properties);
        background: theme.getThemeProperty(backgroundColor, $component-form-checkbox-properties);
      }
      &:checked::before {
        content: theme.getThemeProperty(checkedIcon, $component-form-checkbox-properties);
        color: theme.getThemeProperty(checkedTextColor, $component-form-checkbox-properties);
      }
      + label {
        display: inline-flex;
        align-items: center;
        margin: 10px 0;
        padding-left: 15px;
        line-height: 1;
        cursor: pointer;
        + .message.error {
          width: 100%;
        }
      }
      &.readonly {
        pointer-events: none;
        &::before {
          cursor: default;
          background: theme.getThemeProperty(disabledColor, form.$component-form-properties);
        }
        + label {
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
  // Focus Styles
  .checkboxset li,
  .checkboxset .odd, 
  .checkboxset .even, 
  .field.checkbox {
    @include focus.focus-within-style;
  }
}
