@use "../../../variables/theme";
@use "../../../elements/focus/focus";
@use  "../form";

// Default form numeric Properties
$default-component-form-numeric-properties: (
  backgroundColor: theme.getThemeProperty(backgroundColorLight),
  iconBackgroundColor: theme.getThemeProperty(backgroundColorDark),
  iconTextColor: theme.getThemeProperty(textColorLight),
  iconHoverBackgroundColor: theme.getThemeProperty(primaryColor),
  borderColor: theme.getThemeProperty(borderColor, form.$component-form-properties),
  readonlyIconBackgroundColor: #cccccc,
);
// If $component-form-numeric-properties is set, lets merge into our defaults
$component-form-numeric-properties: $default-component-form-numeric-properties !default;
@if ($component-form-numeric-properties) {
  $component-form-numeric-properties: map-merge($default-component-form-numeric-properties, $component-form-numeric-properties);
}

.fw-form {
  .field.numeric {
    position: relative;
    margin: 0;
    width: 100%;
    display: inline-block;
    .middleColumn {
      position: relative;
    }
    label {
      transform: none;
      margin: 2px 0;
      position: relative;
      &.labelShrunk {
        transform: none;
      }
    }
    input, input[type='number'] {
      width: 100%;
      height: 100%;
      padding: 9px 50px;
      box-sizing: border-box;
      text-align: center;
      border-radius: 5px;
      border-style: solid;
      background: theme.getThemeProperty(backgroundColor, $component-form-numeric-properties);
      outline: none;
      border-color: theme.getThemeProperty(borderColor, $component-form-numeric-properties);
      border: 1px solid theme.getThemeProperty(borderColor, $component-form-numeric-properties);
      -moz-appearance: textfield;
      @include focus.focus-style;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
    }
    ~ .subtract-qty, .subtract-qty, ~ .add-qty, .add-qty {
      position: absolute;
      z-index: 1; // Behaves strangely in FireFox without this
      top: 0;
      height: 100%;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      font-weight: 900;
      color: theme.getThemeProperty(iconTextColor, $component-form-numeric-properties);
      background-color: theme.getThemeProperty(iconBackgroundColor, $component-form-numeric-properties);
      border-radius: 5px;
      cursor: pointer;
      transition: background-color .25s ease;
      &:hover {
        background-color: theme.getThemeProperty(iconHoverBackgroundColor, $component-form-numeric-properties);
      }
      i {
        font-size: 1.2em;
      }
    }
    ~ .subtract-qty, .subtract-qty {
      left: 0;
      border-radius: 5px 0 0 5px;
    }
    ~ .add-qty, .add-qty {
      right: 0;
      border-radius: 0 5px 5px 0;
    }
    &.readonly {
      ~ .subtract-qty, .subtract-qty,
      ~ .add-qty, .add-qty {
        background-color: theme.getThemeProperty(readonlyIconBackgroundColor, $component-form-numeric-properties);
        cursor: default;
      }
      input, input[type='number'] {
        background: theme.getThemeProperty(disabledColor, form.$component-form-properties);
      }
    }
  }

  // Label above field
  &.fw-form-label-above {
    .field.numeric {
      input, input[type='number'] {
        padding: 9px 50px;
      }
    }
  }
}
