// Default form select Properties
$default-component-form-select-properties:(
  backgroundColor: getThemeProperty(backgroundColorLight),
  labelColor: getThemeProperty(textColorDark),
  icon: "\f078",
  iconFontFamily: getThemeProperty(fontIcon),
  iconTextColor: getThemeProperty(textColorDark),
  borderColor: getThemeProperty(borderColor, $component-form-properties),
  shiftingLabelColor: getThemeProperty(labelColor, $component-form-properties),
  textColor: getThemeProperty(textColorDark),
  fontFamily: getThemeProperty(fontText),
  fontSizes: (
      desktop: (1em, 1.4),
      tablet: (1em, 1.4),
      phone: (1em, 1.4)
  )
);
// If $component-form-select-properties is set, lets merge into our defaults
$component-form-select-properties: $default-component-form-select-properties !default;
@if($component-form-select-properties){
  $component-form-select-properties: recursive-map-merge($default-component-form-select-properties, $component-form-select-properties);
}

.fw-form{
  .field.dropdown{
    position: relative;
    label{
      display: block;
      position: absolute;
      transform: translate(20px, 25px);
      transform-origin: left;
      transition: transform .25s ease;
      color: getThemeProperty(shiftingLabelColor, $component-form-select-properties);
      pointer-events: none;
      margin: 0;
      &.labelShrunk{
        transform: scale(.7) translate(30px, 20px);
      }
    }
    select{
      width: 100%;
      padding: 20px 15px;
      box-sizing:border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: getThemeProperty(backgroundColor, $component-form-select-properties);
      border: 1px solid getThemeProperty(borderColor, $component-form-select-properties);
      color: getThemeProperty(textColor, $component-form-select-properties);
      font-family: getThemeProperty(fontFamily, $component-form-select-properties);
      @include font-size(getThemeProperty(fontSizes, $component-form-select-properties));
      &.labelShrunk{
        padding: 30px 20px 10px 19px;
        color: getThemeProperty(labelColor, $component-form-select-properties);
      }
      optgroup{
        color: getThemeProperty(labelColor, $component-form-select-properties);
      }
      @include focus-style;
    }
    &:after{
      position: absolute;
      right: 10px;
      top: 50%;
      content: getThemeProperty(icon, $component-form-select-properties);
      font-family: getThemeProperty(iconFontFamily, $component-form-select-properties);
      color: getThemeProperty(iconTextColor, $component-form-select-properties);
    }
  }
}
@-moz-document url-prefix() {
  .fw-form{
    .field.dropdown{
      select.labelShrunk{
        padding-left: 15px;
      }
    }
  }
}
