@use "../../../variables/theme";
@use  "../../../elements/typography/mixins/font-size-mixin";
@use "../../../elements/focus/focus";
@use  "../form";

// Default form select Properties
$default-component-form-select-properties: (
  backgroundColor: theme.getThemeProperty(backgroundColorLight),
  labelColor: theme.getThemeProperty(textColorDark),
  icon: "\f078",
  iconFontFamily: theme.getThemeProperty(fontIcon),
  iconTextColor: theme.getThemeProperty(textColorDark),
  borderColor: theme.getThemeProperty(borderColor, form.$component-form-properties),
  shiftingLabelColor: theme.getThemeProperty(labelColor, form.$component-form-properties),
  textColor: theme.getThemeProperty(textColorDark),
  fontFamily: theme.getThemeProperty(fontText),
  fontSizes: (
      desktop: (1em, 1.4),
      tablet: (1em, 1.4),
      phone: (1em, 1.4)
  )
);
// If $component-form-select-properties is set, lets merge into our defaults
$component-form-select-properties: $default-component-form-select-properties !default;
@if ($component-form-select-properties) {
  $component-form-select-properties: theme.recursive-map-merge($default-component-form-select-properties, $component-form-select-properties);
}

.fw-form {
  .field.dropdown {
    position: relative;
    label {
      display: block;
      position: absolute;
      transform: translate(20px, 25px);
      transform-origin: left;
      transition: transform .25s ease;
      color: theme.getThemeProperty(shiftingLabelColor, $component-form-select-properties);
      pointer-events: none;
      margin: 0;
      z-index: 1;
      &.labelShrunk {
        transform: scale(.7) translate(30px, 20px);
      }
    }
    select {
      width: 100%;
      padding: 20px 15px;
      box-sizing:border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: theme.getThemeProperty(backgroundColor, $component-form-select-properties);
      border: 1px solid theme.getThemeProperty(borderColor, $component-form-select-properties);
      color: theme.getThemeProperty(textColor, $component-form-select-properties);
      font-family: theme.getThemeProperty(fontFamily, $component-form-select-properties);
      @include font-size-mixin.font-size(theme.getThemeProperty(fontSizes, $component-form-select-properties));
      &.labelShrunk {
        padding: 30px 20px 10px 19px;
        color: theme.getThemeProperty(labelColor, $component-form-select-properties);
      }
      optgroup {
        color: theme.getThemeProperty(labelColor, $component-form-select-properties);
      }
      @include focus.focus-style;
    }
    &.readonly select {
      pointer-events: none;
      background: theme.getThemeProperty(disabledColor, form.$component-form-properties);
    }
    &:after {
      position: absolute;
      right: 10px;
      top: 50%;
      content: theme.getThemeProperty(icon, $component-form-select-properties);
      font-family: theme.getThemeProperty(iconFontFamily, $component-form-select-properties);
      color: theme.getThemeProperty(iconTextColor, $component-form-select-properties);
      pointer-events: none;
    }
  }

  // Label above field
  &.fw-form-label-above {
    .field.dropdown {
      label {
        position: relative;
        transform: none;
        margin: theme.getThemeProperty(labelAboveMargin, form.$component-form-properties);
        &.labelShrunk {
          transform: none;
        }
      }
      select {
        &.labelShrunk {
          padding: 20px;
        }
      }
    }
  }
}
@-moz-document url-prefix() {
  .fw-form {
    .field.dropdown {
      select.labelShrunk {
        padding-left: 15px;
      }
    }
  }
}
