@use "../../../variables/theme";
@use  "../form";

// Default form textarea Properties
$default-component-form-textarea-properties: (
  borderColor: getThemeProperty(borderColor, $component-form-properties),
  shiftingLabelColor: getThemeProperty(labelColor, $component-form-properties),
  textColor: getThemeProperty(textColorDark),
  fontFamily: getThemeProperty(fontText),
  fontSizes: (
      desktop: (1em, 1.4),
      tablet: (1em, 1.4),
      phone: (1em, 1.4)
  )
);
// If $component-form-textarea-properties is set, lets merge into our defaults
$component-form-textarea-properties: $default-component-form-textarea-properties !default;
@if ($component-form-textarea-properties) {
  $component-form-textarea-properties: recursive-map-merge($default-component-form-textarea-properties, $component-form-textarea-properties);
}

.fw-form {
  .field.textarea {
    position: relative;
    label {
      display: block;
      position: absolute;
      transform: translate(20px, 25px);
      transform-origin: left;
      transition: transform .25s ease;
      color: getThemeProperty(shiftingLabelColor, $component-form-textarea-properties);
      pointer-events: none;
      margin: 0;
      z-index: 1;
      &.labelShrunk {
        transform: scale(.7) translate(30px, 20px);
      }
    }
    textarea {
      padding: 30px 20px 10px 20px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid getThemeProperty(borderColor, $component-form-textarea-properties);
      color: getThemeProperty(textColor, $component-form-textarea-properties);
      font-family: getThemeProperty(fontFamily, $component-form-textarea-properties);
      @include font-size(getThemeProperty(fontSizes, $component-form-textarea-properties));
      &.labelShrunk {
        padding: 30px 20px 10px 20px;
      }
      @include focus-style;
      &.readonly {
        pointer-events: none;
        background: getThemeProperty(disabledColor, $component-form-properties);
      }
    }
  }

  // Label above field
  &.fw-form-label-above {
    .field.textarea {
      label {
        position: relative;
        transform: none;
        margin: getThemeProperty(labelAboveMargin, $component-form-properties);
        &.labelShrunk {
          transform: none;
        }
      }
      textarea {
        padding: 20px;
        &.labelShrunk {
          padding: 20px;
        }
      }
    }
  }
}
