/*
  Image
  Generic image classes
  These classes are set from silverstripe html editor
 */
$default-element-img-properties: (
  borderRadius: initial,
  boxShadow: none
);
// If $element-img-properties is set, lets merge into our defaults
$element-img-properties: $default-element-img-properties !default;
@if ($element-img-properties) {
  $element-img-properties: recursive-map-merge($default-element-img-properties, $element-img-properties);
}
img {
  &.left {
    float: left;
    padding-right: getThemeProperty(layoutSpace);
    padding-bottom: getThemeProperty(layoutSpace);
    max-width: 100%;
    height: auto;
  }
  &.right {
    float: right;
    padding-left: getThemeProperty(layoutSpace);
    padding-bottom: getThemeProperty(layoutSpace);
    max-width: 100%;
    height: auto;
  }
  &.center {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: getThemeProperty(layoutSpace) 0;
    max-width: 100%;
    height: auto;
  }
  &.leftAlone {
    display: block;
    text-align: left;
    padding: getThemeProperty(layoutSpace) 0;
    max-width: 100%;
    height: auto;
  }
}
.fw-typography-spacing {
  img {
    border-radius: getThemeProperty(borderRadius, $element-img-properties);
    box-shadow: getThemeProperty(boxShadow, $element-img-properties);
  }
}

