// Default form checkbox Properties
$default-component-form-properties:(
  borderColor: #cccccc,
  labelColor: #cccccc,
);
// If $component-form-checkbox-properties is set, lets merge into our defaults
$component-form-properties: $default-component-form-properties !default;
@if($component-form-properties){
  $component-form-properties: map-merge($default-component-form-properties, $component-form-properties);
}

// Components
@import 'components/radio';
@import 'components/checkbox';
@import 'components/text';
@import 'components/textarea';
@import 'components/select';
@import 'components/numeric';
