@use "../../variables/theme";
@use '../../components/button/button';

// Default form checkbox Properties
$default-component-form-properties: (
  borderColor: #cccccc,
  labelColor: theme.getThemeProperty(textColorDark),
  disabledColor: theme.getThemeProperty(disabledColor, button.$component-button-properties),
  disabledTextColor: theme.getThemeProperty(disabledTextColor, button.$component-button-properties),
  fieldSpacing: theme.getThemeProperty(layoutSpace),
  validationErrorTextColor: #ffffff,
  validationErrorBackgroundColor: #cc0000,
  validationSuccessTextColor: #000000,
  validationSuccessBackgroundColor: #00cc00,
  validationWarningTextColor: #000000,
  validationWarningBackgroundColor: #ffcc00,
  labelAboveMargin: 0,
);
// If $component-form-checkbox-properties is set, lets merge into our defaults
$component-form-properties: $default-component-form-properties !default;
@if ($component-form-properties) {
  $component-form-properties: map-merge($default-component-form-properties, $component-form-properties);
}

// General Form Styles
.fw-form {
  // Field Spacing
  .field {
    margin: theme.getThemeProperty(fieldSpacing, $component-form-properties) 0;
  }
  // Validation/Messages
  .message {
    padding: theme.getThemeProperty(layoutSpace, $component-form-properties);
    display: block;
    &.error,
    &.bad,
    &.validation {
      color: theme.getThemeProperty(validationErrorTextColor, $component-form-properties);
      background: theme.getThemeProperty(validationErrorBackgroundColor, $component-form-properties);
    }
    &.warning {
      color: theme.getThemeProperty(validationWarningTextColor, $component-form-properties);
      background: theme.getThemeProperty(validationWarningBackgroundColor, $component-form-properties);
    }
    &.good {
      color: theme.getThemeProperty(validationSuccessTextColor, $component-form-properties);
      background: theme.getThemeProperty(validationSuccessBackgroundColor, $component-form-properties);
    }
  }

  // Button Style Applied to input submit
  input[type=submit] {
    @include button.button-input-style;
    &:disabled {
      pointer-events: none;
      background: theme.getThemeProperty(disabledColor, $component-form-properties) !important;
      color: theme.getThemeProperty(disabledTextColor, $component-form-properties) !important;
    }
  }
}

