/*
  DEFAULT DESKTOP
  If no breakpoints are defined, these will be the fallback width percentages
*/
.desktop-half{
  width: 0.5%;
  min-height: 1px;
}
@for $i from 1 through 100 {
  .desktop-#{$i} {
    width : round(percentage($i/100));
  }
}
.desktop-hide{
  display: none;
}
.desktop-auto{
  width: auto;
}
.desktop-show{
  display: inherit;
}
/*
  DESKTOP BREAKPOINTS
  Loop through each desktop defined breakpoint
*/
@each $label, $breakpoint in $fw-desktop-breakpoints{
  @media screen and (min-width: $breakpoint) {
    .#{$label}-half{
      width: 0.5%;
      min-height: 1px;
    }
    @for $i from 1 through 100 {
      .#{$label}-#{$i} {
        width : round(percentage($i/100));
      }
    }
    .#{$label}-auto{
      width: auto;
    }
    .#{$label}-hide{
      display: none;
    }
    .#{$label}-show{
      display: inherit;
    }
  }
}
/*
  RESPONSIVE BREAKPOINTS
  Simply out puts classes with a width set from 1-100 for each breakpoint defined.
*/
@each $label, $breakpoint in $fw-responsive-breakpoints{
  @media handheld, only screen and (max-width: $breakpoint) {
    .#{$label}-half{
      width: 0.5%;
      min-height: 1px;
    }
    @for $i from 1 through 100 {
      .#{$label}-#{$i} {
        width: round(percentage($i/100));
      }
    }
    .#{$label}-auto{
      width: auto;
    }
    .#{$label}-hide{
      display: none;
    }
    .#{$label}-show{
      display: inherit;
    }
    /* Flex Container Direction */
    .flex-container{
      &.#{$label}-ltr{
        flex-direction: row;
      }
      &.#{$label}-rtl{
        flex-direction: row-reverse;
      }
      &.#{$label}-ttb{
        flex-direction: column;
      }
      &.#{$label}-btt{
        flex-direction: column-reverse;
      }
    }
    /* SPACING RESET */
    .space{
      &.#{$label}-space-reset{
        padding: $spacing;
      }
    }
  }
}

