@use "sass:map";
@use "../../variables/theme";

@use "sass:math";

/*
  CONTAINER
  Site wide generic container class. Will center all content within it's max-width
*/
.container,
.fw-container {
  max-width: theme.getThemeProperty(layoutContainerWidth);
  margin: 0 auto;
}


.half-container, .fw-half-container {
  max-width: math.div(theme.getThemeProperty(layoutContainerWidth), 2);
  &:first-child  {
    margin-left: auto;
    &:last-child {
      margin-right: calc(50% - 5px);
    }
  }
}
@media only screen and (max-width: map.get(theme.getThemeProperty(breakpointResponsive), desktopsmall)) {
  .half-container, .fw-half-container {
    max-width: unset;
    &:first-child, &:first-child:last-child {
      margin-left: unset;
      margin-right: unset;
    }
  }
}
