// Default form checkbox Properties
$default-element-focus-properties:(
  innerBorderColor: var(--elementFocusProperties_innerBorderColor, #336ba3),
  innerBorderSize: var(--elementFocusProperties_innerBorderSize, 2px),
  outerBorderColor: var(--elementFocusProperties_outerBorderColor, #b4def3bf),
  outerBorderSize: var(--elementFocusProperties_outerBorderSize, 0.6rem),
);
// If $element-focus-properties is set, lets merge into our defaults
$element-focus-properties: $default-element-focus-properties !default;
@if($element-focus-properties){
  $element-focus-properties: map-merge($default-element-focus-properties, $element-focus-properties);
}

@mixin just-focus-style() {
    outline: none;
    box-shadow: 0 0 0 getThemeProperty(innerBorderSize, $element-focus-properties) getThemeProperty(innerBorderColor, $element-focus-properties), 
                0 0 0 getThemeProperty(outerBorderSize, $element-focus-properties) getThemeProperty(outerBorderColor, $element-focus-properties);
}
@mixin focus-style() {
    &:focus{
        outline: none;
        box-shadow: none; 
    }
    &:focus-visible {
        @include just-focus-style; 
    }
    &:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }
}
@mixin focus-within-style() {
    &:focus-within{
        @include just-focus-style;
    }
}
