@mixin just-focus-style() {
    outline: none;
    box-shadow: 0 0 0 getThemeProperty(innerBorderSize, $element-focus-properties) getThemeProperty(innerBorderColor, $element-focus-properties), 
                0 0 0 getThemeProperty(outerBorderSize, $element-focus-properties) getThemeProperty(outerBorderColor, $element-focus-properties);
}
@mixin focus-style() {
    &:focus{
        outline: none;
        box-shadow: none; 
    }
    &:focus-visible {
        @include just-focus-style; 
    }
    &:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }
}
@mixin focus-within-style() {
    &:focus-within{
        @include just-focus-style;
    }
}