/*
  BUTTON
  Generic button class can be used as a class on an element or as a mixin in scss.
*/

// Default Button Properties
$default-component-button-properties:(

  // default css styles
  background-color: getThemeProperty(backgroundColorDark),
  border: none,
  border-radius: 5px,
  color: getThemeProperty(textColorLight),
  font-family: getThemeProperty(fontText),
  font-size: 1rem,
  font-weight: 400,
  line-height: inherit,
  margin: 5px 0,
  padding: 10px 40px,
  transition: background-color 0.25s ease-out,
  text-align: center,
  text-transform: initial,

  // states
  states:(
    hover:(
      background-color: getThemeProperty(backgroundColorDark),
    )
  ),

  // variants
  variants: (
    white-btn: (
      background-color: getThemeProperty(backgroundColorLight),
      color: getThemeProperty(textColorDark),
      hoverStyle: (
        background-color: getThemeProperty(primaryColor),
        color: getThemeProperty(textColorLight),
      )
    ),
    disabled:(
      background-color: #dddddd,
      color: getThemeProperty(textColorLight),
      hoverStyle: (
        color: getThemeProperty(textColorDark),
      )
    )
  )
);

// Deprecations will be removed in 3.0
// Please update your code to use the new property names.
// old name : new name (css equivalent property)
$deprecated-properties:(
  backgroundColor: background-color,
  textColor: color,
  borderRadius: border-radius,
  textTransform: text-transform,
  fontWeight: font-weight,
  fontFamily: font-family,
  fontSize: font-size,
  textAlign: text-align,
  lineHeight: line-height,
);
$deprecated-state-properties:(
  backgroundHoverColor: background-color,
  textHoverColor: color,
);

// If $component-button-properties is set, lets merge into our defaults
$component-button-properties: $default-component-button-properties !default;
@if($component-button-properties){
  $component-button-properties: recursive-map-merge($default-component-button-properties, $component-button-properties);
}

// Button Mixin
@mixin button-input-style() {
  // css properties - loop through each property
  @each $property, $value in $component-button-properties {
    // Test for depreciations and replace the name with updated name
    @if (map-has-key($deprecated-properties, $property)) {
      @warn "The property '#{$property}' is deprecated.";
      $value: map-get($deprecated-properties, $property);
      #{$value}: getThemeProperty(#{$property}, $component-button-properties);
    } @else if($property!="variants" and $property!="states") {
      #{$property}: getThemeProperty(#{$property}, $component-button-properties);
    }
  }

  // States
  // used for :hover, :link, :active, etc...
  @each $stateClass, $stateProperties in getThemeProperty(states, $component-button-properties) {
    &:#{ $stateClass }{
      @each $styleRule, $styleValue in $stateProperties {
        // Test for depreciations and replace the name with updated name
        @if (map-has-key($deprecated-state-properties, $styleRule)) {
          @warn "The property '#{$styleRule}' is deprecated.";
          $value: map-get($deprecated-state-properties, $styleRule);
          #{$value}: getThemeProperty(#{$styleRule}, $component-button-properties);
        }@else{
          #{$styleRule}: #{$styleValue};
        }
      }
    }
  }

  // Focus Style - defined here: sass\elements\focus\_focus.scss
  @include focus-style;

  // Variants
  // Used for class variants, .button.white-btn, .button.disabled, etc...
  @each $variantClass, $variantProperties in getThemeProperty(variants, $component-button-properties) {
    &.#{$variantClass}{
      @each $styleRule, $styleValue in $variantProperties {
        @if ($styleRule != 'hoverStyle') {
          #{$styleRule}: #{$styleValue};
        }
      }

      &:hover {
        @each $hoverStyleRule, $hoverStyleValue in map-get($variantProperties, 'hoverStyle') {
          #{$hoverStyleRule}: #{$hoverStyleValue};
        }
      }

    }
  }
}

// Applied to `a` elements with the `button` class
a.button, input.button, button.button{
  @include button-input-style;
}

/*
  To add onto the button, you can define the following in your local
  a.button{
    &.super-custom-button{
      background-color: #fbff00;
      color: #333333;
    }
  }
*/