/*
  BUTTON
  Generic button class can be used as a class on an element or as a mixin in scss.
*/

// Default Button Properties
$default-component-button-properties:(
  backgroundColor: var(--componentButtonProperties_backgroundColor, getThemeProperty(backgroundColorDark)),
  textColor: var(--componentButtonProperties_textColor, getThemeProperty(textColorLight)),
  backgroundHoverColor: var(--componentButtonProperties_backgroundHoverColor, getThemeProperty(backgroundColorLight)),
  textHoverColor: var(--componentButtonProperties_textHoverColor, getThemeProperty(textColorDark)),
  padding: var(--componentButtonProperties_padding, 10px 40px),
  margin: var(--componentButtonProperties_margin, 5px 0),
  border: none,
  borderRadius: var(--componentButtonProperties_borderRadius, 5px),
  textTransform: var(--componentButtonProperties_textTransform, initial),
  fontWeight: var(--componentButtonProperties_fontWeight, 400),
  fontFamily: var(--componentButtonProperties_fontFamily, getThemeProperty(fontText)),
  fontSize: var(--componentButtonProperties_fontSize, 1rem),
  variants: (
    white-btn: (
      background-color: getThemeProperty(backgroundColorLight),
      color: getThemeProperty(textColorDark),
      hoverStyle: (
        background-color: getThemeProperty(primaryColor),
        color: getThemeProperty(textColorLight),
      )
    )
  )
);
// If $component-button-properties is set, lets merge into our defaults
$component-button-properties: $default-component-button-properties !default;
@if($component-button-properties){
  $component-button-properties: recursive-map-merge($default-component-button-properties, $component-button-properties);
}

// Button Mixin
@mixin button-input-style() {
  background-color: getThemeProperty(backgroundColor, $component-button-properties);
  border-radius: getThemeProperty(borderRadius, $component-button-properties);
  color: getThemeProperty(textColor, $component-button-properties);
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: getThemeProperty(padding, $component-button-properties);
  margin: getThemeProperty(margin, $component-button-properties);
  border: getThemeProperty(border, $component-button-properties);;
  cursor: pointer;
  text-transform: getThemeProperty(textTransform, $component-button-properties);
  font-weight: getThemeProperty(fontWeight, $component-button-properties);
  font-family: getThemeProperty(fontFamily, $component-button-properties);
  font-size: getThemeProperty(fontSize, $component-button-properties);
  -webkit-appearance: none;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  &:link,
  &:visited,
  &:hover,
  &:active{
    color: getThemeProperty(textColor, $component-button-properties);
  }
  &:hover{
    background-color: getThemeProperty(backgroundHoverColor, $component-button-properties);
    color: getThemeProperty(textHoverColor, $component-button-properties);
  }
  @include focus-style;

  // Define style rules for button variants
  @each $variantClass, $variantProperties in getThemeProperty(variants, $component-button-properties) {
    &.#{$variantClass}{
      @each $styleRule, $styleValue in $variantProperties {
        @if($styleRule == 'hoverStyle'){
          &:hover{
            @each $hoverStyleRule, $hoverStyleValue in $styleValue {
              #{$hoverStyleRule}: #{$hoverStyleValue};
            }
          }
        } @else {
          #{$styleRule}: #{$styleValue};
        }
      }
    }
  }

}

// Applied to `a` elements with the `button` class
a.button, input.button, button.button{
  @include button-input-style;
}

/*
  To add onto the button, you can define the following in your local
  a.button{
    &.super-custom-button{
      background-color: #fbff00;
      color: #333333;
    }
  }
*/

