// Default text Properties
$default-element-text-properties:(
    boldStrongWeight: 700,
    largeTextFontSize: 1.5em,
);
// If $default-element-text-properties is set, lets merge into our defaults
$element-text-properties: $default-element-text-properties !default;
@if($element-text-properties){
    $element-text-properties: recursive-map-merge($default-element-text-properties, $element-text-properties);
}

strong, b {
  font-weight: getThemeProperty(boldStrongWeight, $element-text-properties);
}
em, i {
  font-style: italic;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}

/* Define style rule with optional !important */
@mixin importantOptionFor($rule, $value) {
    #{$rule}: #{$value};
    &.important {
      #{$rule}: #{$value} !important;
    }
}

.text-center{
    @include importantOptionFor(text-align, center);
}
.text-left{
    @include importantOptionFor(text-align, left);
}
.text-right{
    @include importantOptionFor(text-align, right);
}
.text-justify{
    @include importantOptionFor(text-align, justify);
}
.large-text{
    @include importantOptionFor(font-size, getThemeProperty(largeTextFontSize, $element-text-properties));
}
.text-white{
    @include importantOptionFor(color, #ffffff);
}
