/*
  Space
  getThemeProperty(layoutSpace) variable is defined in _fw-variables.scss
  Used for consistent margins and gutters throughout the defined content
*/
.fw-space,
.space{
  padding: getThemeProperty(layoutSpace);
  &.double{
    padding: getThemeProperty(layoutSpace) * 2;
  }
  &.triple{
    padding: getThemeProperty(layoutSpace) * 3;
  }
  &.one-forth{
    padding: getThemeProperty(layoutSpace) * 0.25;
  }
  &.half{
    padding: getThemeProperty(layoutSpace) / 2;
  }
  &.three-forths{
    padding: getThemeProperty(layoutSpace) * 0.75;
  }
	&.noleft{
		padding-left: 0;
	}
	&.noright{
		padding-right: 0;
	}
	&.halfleft{
		padding-left: getThemeProperty(layoutSpace) / 2;
	}
	&.halfright{
		padding-right: getThemeProperty(layoutSpace) / 2;
	}
	&.notop{
		padding-top: 0;
	}
	&.nobottom{
		padding-bottom: 0;
	}
	&.halftop{
		padding-top: getThemeProperty(layoutSpace) / 2;
	}
	&.halfbottom{
		padding-bottom: getThemeProperty(layoutSpace) / 2;
	}
}
