@use "sass:math";

/*
  Space
  getThemeProperty(layoutSpace) variable is defined in _fw-variables.scss
  Used for consistent margins and gutters throughout the defined content
*/

$default-base-space-properties:(
  paddingclasses:(
    default: getThemeProperty(layoutSpace),
    double: getThemeProperty(layoutSpace) * 2,
    triple: getThemeProperty(layoutSpace) * 3,
    one-forth: getThemeProperty(layoutSpace) * 0.25,
    half: math.div(getThemeProperty(layoutSpace), 2),
    three-forths: getThemeProperty(layoutSpace) * 0.75,
    noleft: inherit inherit inherit 0,
    noright: inherit 0 inherit inherit,
    halfleft: inherit inherit inherit math.div(getThemeProperty(layoutSpace), 2),
    halfright: inherit math.div(getThemeProperty(layoutSpace), 2) inherit inherit,
    notop: 0 inherit inherit inherit,
    nobottom: inherit inherit 0 inherit,
    halftop: math.div(getThemeProperty(layoutSpace), 2) inherit inherit inherit,
    halfbottom: inherit inherit math.div(getThemeProperty(layoutSpace), 2) inherit,
  )
);
// If $base-space-properties is set, lets merge into our defaults
$base-space-properties: $default-base-space-properties !default;
@if($base-space-properties){
  $base-space-properties: recursive-map-merge($default-base-space-properties, $base-space-properties);
}

// Default spacing - desktop
.fw-space,
.space{
	padding: getThemeProperty(layoutSpace);
	@each $label, $value in getThemeProperty("paddingclasses", $base-space-properties){
		&.#{$label}{
			padding: #{$value};
		}
	}
}

// For each responsive breakpoint, create a space class
@each $label, $breakpoint in getThemeProperty(breakpointResponsive){
	@media only screen and (max-width: $breakpoint) {
		@each $spacelabel, $value in getThemeProperty("paddingclasses", $base-space-properties){
			.fw-space-#{$label}-#{$spacelabel}{
				padding: #{$value};
			}
		}
	}
}
